<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}" /></h1>
    </header>
    <div>
        <table>
            <tr>
                <th>Weapon Speed</th>
                <th>Weapon Accuracy</th>
                <th>Weapon Damage</th>
                <th>Weapon Defence Modification</th>
                <th>Weapon Attack Rate</th>
                <th>Weapon Minimum</th>
                <th>Weapon Tags</th>
            </tr>
            <tr>
                <td>
                    <input name="system.speed" type="number" value="{{system.speed}}" data-dtype="Number" />
                </td>
                <td>
                    <input name="system.accuracy" type="number" value="{{system.accuracy}}" data-dtype="Number" />
                </td>
                <td>
                    <input name="system.damage" type="text" value="{{system.damage}}" />
                </td>
                <td>
                    <input name="system.defence" type="number" value="{{system.defence}}" data-dtype="Number" />
                </td>
                <td>
                    <input name="system.rate" type="number" value="{{system.rate}}" data-dtype="Number" />
                </td>
                <td>
                    <input name="system.minimums" type="text" value="{{system.minimums}}" />
                </td>
                <td>
                    <input name="system.tags" type="text" value="{{system.tags}}" />
                </td>
            </tr>
        </table>
    </div>
</form>
